@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}

body {
    background-color: #242D34;
}

.card {
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
}


